<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mercado Liebre</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!--  <link rel="stylesheet" type="text/css" href="public/css/normalize.css" /> -->
    <link rel="stylesheet" type="text/css" href="public/css/home.css" />
    <link rel="stylesheet" type="text/css" href="public/css/home-tablet.css" />
    <link rel="stylesheet" type="text/css" href="public/css/home-desktop.css" />
    <link rel="stylesheet" type="text/css" href="public/css/header.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/buttons.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0277c3bb21.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="head">
          <img class="logo" src="public/images/logo-mercado-liebre.svg" />
          <nav class="nav-search">
            <input
              class="search-bar"
              type="text"
              placeholder="Buscar productos, marcas..."
            />
            <i class="fa-solid fa-magnifying-glass"></i>
          </nav>
          <div class="bannerlarge-txt">
            <i type="text" class="fa-solid fa-hand-holding-dollar"></i>
            <p>Compra en cuotas y sin tarjeta de credito</p>
          </div>
        </div>
        <div class="bannertiny-txt">
          <i type="text" class="fa-solid fa-hand-holding-dollar"></i>
          <p>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="nav-style">
          <nav class="nav-site">
            <a class="nav-button" href="/ofertas.html">Ofertas</a>
            <a class="nav-button" href="/ofertas.html">Tiendas Oficiales</a>
            <a class="nav-button" href="/ofertas.html">Vender</a>
            <a class="nav-button" href="/ofertas.html">Ayuda</a>
          </nav>
          <nav class="nav-user">
            <a href="register.html">Creá tu cuenta</a>
            <i class="fa-solid fa-id-card"></i>
            <a href="login.html">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="/ofertas.html">Mis compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
          </nav>
          <nav class="nav-menu">
            <i class="fas fa-bars"></i>
          </nav>
        </div>
        <img class="banner" src="public/images/img-home-banner.jpg" />
      </header>
      <main>
        <h2>Basado en tu última visita</h2>
        <section class="section-productos">
          <article class="producto">
            <div class="image">
              <img
                class="preview"
                src="public/images/img-cafetera-moulinex.jpg"
              />
            </div>
            <div class="description">
              <div class="price">
                <i class="fa-solid fa-truck" id="truck"></i>
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>Cafetera Moulinex</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <img
                class="preview"
                src="public/images/img-macbook-pro-2019.jpg"
              />
            </div>
            <div class="description">
              <div class="price">
                <i class="fa-solid fa-truck" id="truck"></i>
                <p>$230.000</p>
                <p class="disc">20% off</p>
              </div>
              <div class="prd-name">
                <p>MacBook Pro 2019</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <img
                class="preview"
                src="public/images/img-samsung-galaxy-s10.jpg"
              />
            </div>
            <div class="description">
              <div class="price">
                <i class="fa-solid fa-truck" id="truck"></i>
                <p>$70.500</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Samsung Galaxy S10</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <img
                class="preview"
                src="public/images/img-tv-samsung-smart.jpg"
              />
            </div>
            <div class="description">
              <div class="price">
                <i class="fa-solid fa-truck" id="truck"></i>
                <p>$23.200</p>
                <p class="disc">5% off</p>
              </div>
              <div class="prd-name">
                <p>SmartTv Samsung 43"</p>
              </div>
            </div>
          </article>
        </section>
        <aside>
          <h2>Ofertas</h2>
          <section class="section-ofertas">
            <article class="producto">
              <div class="image">
                <img
                  class="preview"
                  src="public/images/img-cafetera-moulinex.jpg"
                />
              </div>
              <div class="description">
                <div class="price">
                  <i class="fa-solid fa-truck" id="truck"></i>
                  <p>$6.770</p>
                  <p class="disc">40% OFF</p>
                </div>
                <div class="prd-name">
                  <p>Cafetera Moulinex</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <img
                  class="preview"
                  src="public/images/img-macbook-pro-2019.jpg"
                />
              </div>
              <div class="description">
                <div class="price">
                  <i class="fa-solid fa-truck" id="truck"></i>
                  <p>$230.000</p>
                  <p class="disc">20% off</p>
                </div>
                <div class="prd-name">
                  <p>MacBook Pro 2019</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <img
                  class="preview"
                  src="public/images/img-samsung-galaxy-s10.jpg"
                />
              </div>
              <div class="description">
                <div class="price">
                  <i class="fa-solid fa-truck" id="truck"></i>
                  <p>$70.500</p>
                  <p class="disc">10% off</p>
                </div>
                <div class="prd-name">
                  <p>Samsung Galaxy S10</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <img
                  class="preview"
                  src="public/images/img-tv-samsung-smart.jpg"
                />
              </div>
              <div class="description">
                <div class="price">
                  <i class="fa-solid fa-truck" id="truck"></i>
                  <p>$23.200</p>
                  <p class="disc">5% off</p>
                </div>
                <div class="prd-name">
                  <p>SmartTv Samsung 43"</p>
                </div>
              </div>
            </article>
          </section>
        </aside>
      </main>
      <footer class="footer-phone">
        <section class="pay">
          <div class="card">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="gift">
          <div class="gift-box">
            <i class="fa-solid fa-gift"></i>
          </div>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="security">
          <div class="shield">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </footer>
      <footer class="footer-tabdesk">
        <section class="pay">
          <div class="card">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="gift">
          <div class="gift-box">
            <i class="fa-solid fa-gift"></i>
          </div>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="security">
          <div class="shield">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </footer>
      <div class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </div>
  </body>
</html>
