<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="public/css/header.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/login.css" />
    <link rel="stylesheet" type="text/css" href="public/css/login-tablet.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/login-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/buttons.css" />

    <script
      src="https://kit.fontawesome.com/0277c3bb21.js"
      crossorigin="anonymous"
    ></script>
    <title>Ingresa a tu cuenta</title>
  </head>
  <div class="container">
    <header>
      <div class="head">
        <img class="logo" src="public/images/logo-mercado-liebre.svg" />
        <nav class="nav-search">
          <input
            class="search-bar"
            type="text"
            placeholder="Buscar productos, marcas..."
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </nav>
        <div class="bannerlarge-txt">
          <i type="text" class="fa-solid fa-hand-holding-dollar"></i>
          <p>Compra en cuotas y sin tarjeta de credito</p>
        </div>
      </div>
      <div class="bannertiny-txt">
        <i type="text" class="fa-solid fa-hand-holding-dollar"></i>
        <p>Compra en cuotas y sin tarjeta de credito</p>
      </div>

      <div class="nav-style">
        <nav class="nav-site">
          <a class="nav-button" href="/ofertas.html">Ofertas</a>
          <a class="nav-button" href="/ofertas.html">Tiendas Oficiales</a>
          <a class="nav-button" href="/ofertas.html">Vender</a>
          <a class="nav-button" href="/ofertas.html">Ayuda</a>
        </nav>
        <nav class="nav-user">
          <a class="nav-button" href="register.html">Creá tu cuenta</a>
          <i class="fa-solid fa-id-card"></i>
          <a class="nav-button" href="login.html">Ingresá</a>
          <i class="fa-solid fa-right-to-bracket"></i>
          <a class="nav-button" href="/ofertas.html">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </nav>
        <nav class="nav-menu">
          <i class="fas fa-bars"></i>
        </nav>
      </div>
    </header>
    <body>
      <form action="/register" method="POST">
        <div class="user">
          <label for="user">Nombre de usuario</label>
          <input type="text" name="user" id="user" />
        </div>
        <div class="passwords">
          <label for="password">Ingresar contraseña</label>
          <input type="password" name="password" value="" />
        </div>
        <div class="buttons">
          <button type="submit" value="enviar">Enviar</button>
          <div class="show-btn-back">
            <a class="nav-back" href="home.html">Volver</a>
          </div>
        </div>
      </form>
    </body>
    <footer class="footer-phone">
      <section class="pay">
        <div class="card">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="gift">
        <div class="gift-box">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="security">
        <div class="shield">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <footer class="footer-tabdesk">
      <section class="pay">
        <div class="card">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="gift">
        <div class="gift-box">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="security">
        <div class="shield">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <div class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </div>
</html>
