@media only screen and (min-width: 769px) {
  .footer-phone {
    background-color: white;
    text-align: center;
    display: none;
  }
  .footer-tabdesk {
    background-color: white;
    text-align: center;
    display: flex;
  }
  .card,
  .gift-box,
  .shield {
    font-size: 2em;
    color: #1259c3;
  }
  .pay,
  .gift,
  .security {
    padding: 30px 20px;
  }

  .copyright {
    background-color: white;
    padding: 10px 10px;
  }
}
