@media only screen and (min-width: 1200px) {
  .footer-phone {
    background-color: white;
    text-align: center;
    display: none;
  }
  .footer-tabdesk {
    background-color: white;
    text-align: center;
    display: flex;
  }

  .card,
  .gift-box,
  .shield {
    position: relative;
    font-size: 2em;
    color: #1259c3;
  }
  .card:hover,
  .gift-box:hover,
  .shield:hover {
    color: #39b54a;
  }

  .pay,
  .gift,
  .security {
    padding: 30px 20px;
  }

  .copyright {
    position: relative;
    background-color: white;
    padding: 10px 10px;
  }
}
